name: "Deploy to ECS"

on:
  workflow_run:
    workflows: ["Build & Push Agent"]
    types:
      - completed
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy"
        required: true

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-southeast-2
  CLUSTER_NAME: self-healing-devsecops-cluster-dev
  SERVICE_NAME: agent-service
  CONTAINER_NAME: agent

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download Task Definition
        run: |
          aws ecs describe-task-definition --task-definition agent-task --query taskDefinition > task-definition.json

      - name: Fill in new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ github.event.workflow_run.head_sha || inputs.image_tag }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.SERVICE_NAME }}
          cluster: ${{ env.CLUSTER_NAME }}
          wait-for-service-stability: true
